#block-googlesociallogin {
  margin-top:50px;
}

.gauth {
  height:45px;
}

.quadstat-menu-icon:before {
  margin-right:0.5em;
  font-size:1em !important;
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom:-0.1em;
  vertical-align:baseline;
}

#block-anonymoususerdataset {
  margin-top:-1.5em;
}

@media (min-device-width: 320px) and (max-device-width: 640px) {
  .block-shorten {
    width:100% !important;
  }

  #block-socialsharelinks div.button {
    width:100% !important;
    margin-bottom:0.8em !important;
    border-radius:12px !important;
  }

  #block-webform {
    width:100% !important;
  }

  #block-webform input {
    border-radius:8px !important;
  }

  #block-socialsharelinks {
    padding:0 !important;
    margin-right:0 !important;
    margin-top:0.7em !important;
  }
  #dataset-operations {
    width:100% !important;
  }
}

table thead th {
  background-color: #fffbf2;
}


body.page-node-type-book article {
  line-height:2.2em;
}

body.page-node-type-output article footer {
  margin-bottom:2em;
}

#block-ribbon .github-fork-ribbon:before {
  background-color: #333;
}

.form-item-status-value label {
  margin-left:0.5em;
}

body .form-item-status-value {
  margin: -0.5em 0em 2em 0;
}

body .layout-region-product-footer__content {
  margin-top:0;
  padding-top:0;
  border-top:none;
}

/* 403 */
body.page-node-1747 #slogan {
  display:none;
}

/* Dash */
body.page-node-3365 h1.page-title {
  display:none;
}

.block.block-views {
  margin-bottom:1.5em;
}

#block-views-block-operation-viewer-block-1 {
  margin-bottom:0.20em;
}

.title.comment-form__title {
  display:none;
}

header li.tabs__tab {
    background-color: #fcf9f0;
}

#views-exposed-form-data-page-1 {
  margin-bottom:-2em;
}

body header {
  border-top:1px solid #bbb;
}

.path-taxonomy .feed-icons {
  display:none;
}

.page-node-type-operation .layout-region-node-footer {
  margin-top: 14em;
}

.page-node-type-operation .field--name-field-category {
  height: 50px;
  padding-top: 1em;
}

.page-node-type-operation .field--name-field-category .field__item {
  float:left;
  padding-left:0.75em;
}

.field--name-field-dataset-license {
  margin-top:1em;
}

.webform-submission-form .form-item--x-,
.webform-submission-form .form-item--y- {
  float:right;
  margin:0 1em 0 0;
}

#block-views-block-random-content-block-1 {
  border:1px solid #ccc;
  padding:15px 15px;
  margin:1em 0;
}

#block-views-block-random-content-block-1 table {
  border:1px solid #e6e4df;
}

.page-node-type-output main .clearfix::after {
  display:none;
}

#block-views-block-random-content-block-1 {
  padding-top:1em;
}

#block-views-block-random-content-block-1 h2 {
  margin-top:0;
  padding-bottom:0.75em;
}

.page-node-type-operation #block-views-block-random-content-block-1 h2 {
  margin-bottom:-0.5em;
}

body.page-node-type-operation #block-webform,
body.page-node-type-dataset #block-webform {
  margin-top:1.5em;
}

body.page-node-type-dataset .webform-button--previous,
body.page-node-type-operation .webform-button--previous {
  display:none;
}

body.page-node-type-dataset .button,
body.page-node-type-operation .button {
  border-radius:0;
  margin-left:0;
}

body.path-user #slogan {
  display:none;
}

body.path-user #block-slogan h1 {
  padding-bottom:0.5em;
}

#block-managedad-4 {
  float: right;
  margin: 0.25em 5em -5.6em 0;
}

#edit-inline-data {
  font-family:monospace;
}

body.page-node-type-output article .field--type-text-with-summary {
  margin-top:0em;
  white-space:pre;
}

body.page-node-type-output article .field--type-text-with-summary p {
  line-height:1.5em;
  margin-bottom:-1em;
}

body.page-node-type-output .field--type-text-with-summary p {
  white-space:normal;
  margin:0;
}

p#slogan {
  margin: -0.5em 0 0 0;
  font-family: Georgia;
  font-size:0.78rem;
  color:#999;
  font-style:italic;
}

#quadstat-service-mark {
  font-style:normal;
}

.path-app .page-title {
  display:none;
}

#drupal-modal .js-form-item-properties-description {
  display:none;
}

.form-type-select.form-item-scale label {
  display:none;
  font-weight:normal;
  margin-right:1.5em;
}

.path-data  table.views-table {
  margin-top:2em;
}

#block-easysocial {
  margin-top:0.7em;
  float: right;
  opacity:0.65;
  z-index: 100;
  position: absolute;
  right: 100px;
}

.tabledrag-toggle-weight-wrapper {
  display:none;
}

header .field--name-body {
  padding-top:1.5em;
}

header h1 {
    margin-top:0.5em;
}

header h1 a {
  font-size:4.5em;
}

#block-twitterblock {
  float:right;
  margin:-2em 0 -5.6em 0;
  opacity:0.75;
  padding:0 5px;
  background-color:#eee;
}

body.path-comment .node__content {
  display:none;
}
  

.links.inline, .links.inline li {
  margin-left:1px;
  padding-left:0;
  padding-top:0.5em;
}

.node__links {
  margin-top:1em;
}

.page-node-type-output .field--name-body {
  font-family:"Courier new", monospace;
}

.page-node-type-output .field--name-body p, .page-node-type-output .field--name-body h2 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
}

.page-node-type-output .field--name-field-app .field__label {
  font-weight: bold;
  margin: 10px 0 5px;
  font-size: 1.385em;
}

.page-node-type-output .field__label {
  font-weight: bold;
  margin: 10px 0 5px;
  font-size: 1.385em;
}

.page-node-type-output .field {
  margin-bottom:2em;
}
.page-node-type-output .node__submitted {
  margin:-0.25em 0 1em 2px;
  color:#555;
}

.page-node-type-output h1 {
  margin-bottom:-0.09em;
}

.page-node-type-output h2 {
  margin-bottom:-1em;
  margin-top:0em;
}

@font-face {
  font-family: 'matchbook';
  src: url('/libraries/matchbook/matchbook-webfont.woff2') format('woff2'),url('/libraries/matchbook/matchbook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media only screen AND (max-device-width: 800px) {

  .webform-submission-form .form-item--x-,
  .webform-submission-form .form-item--y- {
    display:none;
  }

  #block-easysocial {
    display:none;
  }

  #search-block-form { 
    display:none;
  }

  #block-twitterblock {
    display:none;
  }

  #block-managedad-4 {
    float: right;
    margin: 0;
  }

}

#edit-operation-dataset-edit {
  display:none;
}

.page-node-type-dataset #block-seven-page-title {
  display:block;
}

@media only screen and (min-width : 1224px) {
  #edit-operation-dataset-edit {
    display:inline;
  }
}

@media (orientation:portrait) {

  .page-node-type-dataset #block-seven-page-title {
    display:block;
    width:100%;
    float:none;
  }

  .view-operation-viewer  {
    display:block;
    width:100%;
  }

  #quicktabs-dashboard .block-benefits li:nth-child(4) {
    display:inline-block;
  }
  header input {
    display:none;
  }

  #block-managedad-4 {
    float: none;
    margin: 0;
  }
}

@media only screen and (min-device-width: 768px) {
  #block-managedad-4 {
    float: right;
  }
}

#webform_ui_element_form-ajax .form-item-properties-default-value textarea {
  height: 400px;
  white-space: pre;
  font-family: courier;
}

#splash h1 {
  padding-top:1em;
  padding-bottom:0.5em;
}

#splash h1:first-child {
  padding-top:0;
}

#splash td:first-child {
  width:1em;
}

#splash .text {
  color:#333;
  font-family:'Open Sans';
}

#splash .icon {
  font-size:2em;
  text-align:center;
  color:#666;
}

header h1 a {
  font-family: 'matchbook';
  color:#777;
  font-weight:normal;
  font-style:normal;
}

header h1 span {
  color:#999;
}

table thead > tr {
  border: 1px solid #bfbfba;
}

.path-frontpage #block-views-block-my-datasets-block-1 {
  margin-top:0.25em;
}

.path-frontpage h1.page-title {
  display:none;
}

.path-frontpage #block-seven-content {
  margin-top: 2em;
}

td { 
  border: 1px solid #e6e4df;
}

#block-views-block-applications-block-1 table thead > tr,
#block-views-block-my-datasets-block-1 table thead > tr {
  border: 1px solid #bfbfba;
  border-right: 2px solid #bfbfba;
}

#block-views-block-applications-block-1 tbody,
#block-views-block-my-datasets-block-1 tbody  {
  border-right: 2px solid #e6e4df;
}
thead th.is-active > a:after {
  border: none;
}

#block-views-block-dataset-block-1 td { 
  padding-left:0;
}

#block-views-block-dataset-block-1 .pager__items {
  margin-left:0;
}

#block-views-block-dataset-block-1 .pager__item {
  margin-left:0;
  padding-left:0;
}

.view .pager__item--ellipsis {
  display:none;
}

#block-views-block-dataset-block-1 .views-field-fid {
  display:none;
}

#block-views-block-dataset-block-1 .view-content {
  display:none;
}

#block-slogan h6 {
  margin-top:0;
  padding-top:0;
}

.region-highlighted {
  margin-top: 1.5em;
}

.form-item-r .CodeMirror, .CodeMirror textarea{ 
  height:100px;
  word-wrap:break-word;
}

.form-item-field-operation-help-0-value .CodeMirror {
  height:300px;
  word-wrap:break-word;
}

#webform-submission-navigation- {
  display:none;
}

.views-field-operation-value {
  font-family:monospace;
  line-height:1em;
  white-space:pre;
}

#quadstat-submission-table-view {
  margin-top:2em;
}

.block-adsense .adsense,
.block-adsense .text-align-left {
  width:100%;
}

.path-frontpage .block-adsense {
  padding-top:0em;
}

.view,
#block-views-block-my-datasets-block-1,
#block-views-block-applications-block-1 {
  overflow-x: scroll;
}

.captcha .details-description {
  margin-bottom:1em;
}

details.captcha > .details-wrapper {
    padding: 0.5em 1.5em 1em 1.5em;
}

.path-node .layout-region-node-main .filter-wrapper.js-form-wrapper.form-wrapper {
  margin-top:0;
}

#node-dataset-form .layout-region-node-secondary {
  display:none;
}

.toolbar-tray-open #node-dataset-form .layout-region-node-secondary {
  display:block;
}

#block-touroperation {
  margin-top:0.5em;
}

#edit-field-dataset-header-none, #node-dataset-form label[for="edit-field-dataset-header-none"], #edit-field-dataset-separator-none, #node-dataset-form label[for="edit-field-dataset-separator-none"] {
  display:none;
}

#block-footerlinks a {
  margin:0 0.5em;
}

#block-frontpageintro {
  margin:2em 0 0;
}

#block-footerlinks {
  padding-bottom: 50px;
  margin-top:1em;
}

#quadstat-submission-table-view {
  border-bottom:1px solid #e6e4df;
  margin:0;
}

#block-views-block-recent-r-queries-block-1 .view-content {
  overflow-y: scroll;
  height:400px;
  margin:1em 0;
  border:1px solid #e6e4df;
}

#block-views-block-recent-r-queries-block-1 table {
  margin-bottom:0;
}

#block-views-block-recent-r-queries-block-1 .views-field-rendered-entity {
  padding:25px;
}

#block-managedad {
  padding-top:1.5em;
  padding-bottom: 3em;
}

#block-managedad-2 {
  padding:1em 0;
}

.path-frontpage .block-managedad-2 {
  padding:0;
}

#block-views-block-recent-r-queries-block-1 {
  padding-top:1em;
}

#block-touroperation {
  display:none;
}

.path-frontpage #block-seven-content {
  display:none; 
} 

.filter-help { 
  display:none;
}

#edit-xmlsitemap { 
  display:none;
}

body.path-frontpage input.form-autocomplete {
  padding: .25em .4em .2em .5em;
}

body.path-user .field--name-field-name,
body.path-user .field--name-field-user-link,
body.path-user .field--name-field-user-email,
body.path-user .field--name-field-user-bio {
  margin-bottom:1em;
}

body.path-user .field--name-field-name {
  margin-top: 1em;
}

body.page-node-type-book img {
  border:1px solid #777;
  border-radius:4px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:1.5em 0;
}

#block-views-block-recent-blog-content-block-1 thead {
  border:1px solid #bfbfba;
}

body.page-node-type-book .book-navigation {
  margin-top:3em;
}

body.page-node-type-book .field--name-field-book-r-code {
  border-left:5px solid #3864BA;
  padding-left:1em;
  margin-bottom:2em;
}

body.page-node-type-book .field--name-field-book-sas-code {
  border-left:5px solid #009900;
  padding-left:1em;
}

#block-views-block-recent-blog-content-block-1,
#block-views-block-recent-r-queries-block-1 {
  overflow-x: scroll;
}

body.page-node-type-book p {
  overflow-x: scroll;
}

#block-managedad-3 {
  margin-top:0.5em; 
}

td.views-field-sticky {
  color:green;
}

#search-block-form {
  float: right;
  padding-top: 0.75em;
  z-index: 10;
  position: absolute;
  right: 265px;
}

#search-block-form .form-actions {
  display:none;
}

#search-block-form #edit-keys {
  margin-right: 8em;
}

#search-block-form #edit-keys {
  color:#777;
}

#search-form {
  display:none;
}

.path-search #block-seven-page-title {
  display:none;
}

.path-search .item-list ol, .path-search .item-list li {
  margin-left:0;
}

#quicktabs-dashboard ul {
  margin-left:0;
}

#quicktabs-dashboard .item-list {
  margin-bottom:1em;
  margin-top:2em;
}

#quicktabs-dashboard li.ui-state-active {
  background-color:#fffbf2;
  border-radius:16px;
  border:1px solid #fc0;
}

#quicktabs-dashboard .item-list ul {
  border-bottom:none;
}

.quicktabs-ui-wrapper .ui-tabs-panel {
  padding-left:0;
  padding-right:0
}

#block-quicktabsdashboard .quicktabs-ui-wrapper .ui-tabs-nav {
  padding-left:0;
}

body header {
  background-image:url('/sites/app.quadstat.net/files/statistics_background.png') !important;
  background-color: #fffbf2 !important;
}

header .tabs__tab.is-active {
  background-color:white;
}

body.path-frontpage header.content-header {
  padding:23px 0 0;
}

.cc-window{opacity:1;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{transition:transform 1s ease}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}
.cc-link,.cc-revoke:hover{text-decoration:underline}.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:2em;max-width:24em;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-banner .cc-btn:last-child{min-width:140px}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em}.cc-window.cc-floating .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-banner{-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{-ms-flex:1;flex:1}.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-compliance>.cc-btn{-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}
@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-ms-flex-align:unset;align-items:unset}}
.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}
.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em 2em 1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}

body code {
  border:none;
  background-color:transparent;
}

body .layout-region-node-footer__content { 
  border-top:none;
}

body.page-node-type-dataset .button, body.page-node-type-operation .button {
    border-radius: 0;
    margin-left: 0;
}

.button:first-child {
    margin-left: 0;
    margin-right: 0;
}

.button:last-child {
    margin-left: 0;
    margin-right: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.button {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 4px 1.5em;
    border: 1px solid #a6a6a6;
    border-radius: 20em;
    background-color: #f2f1eb;
    background-image: -webkit-linear-gradient(top,#f6f6f3,#e7e7df);
    background-image: linear-gradient(to bottom,#f6f6f3,#e7e7df);
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px hsla(0,0%,100%,.6);
    font-weight: 600;
    font-size: 14px;
    font-size: .875rem;
    -webkit-transition: all .1s;
    transition: all .1s;
    -webkit-font-smoothing: antialiased;
}

.social_share_link.twitter {
  margin-right:0;
}

.social_share_link.facebook {
  height:27px;
}

.social_share_link i {
  margin-right:0.5em;
} 

.social_share_link a:hover {
  text-decoration:none;
}

.block-shorten, #block-socialsharelinks {
  float:left;
  margin-right:20px; 
}

#block-socialsharelinks {
  padding:0.7em;
}

#block-webform, #block-webform .form-actions {
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
}

#block-webform {
  margin-top:0 !important;
  padding-top:0.7em;
  float:right;
}

.block-shorten input, #block-webform input {
  height:27px;
}

.block-shorten {
  width: 200px;
}

#edit-this-shortened {
  width:200px;
  font-family: 'Courier new', 'courier', monospace;
}

/* tinynav.js by @viljamis */

/* styles for desktop */
.tinynav { display: none }

/* styles for mobile */
@media screen and (max-width: 640px) {
    .tinynav { display: block; width:100%; }
    #block-quicktabsdashboard ul.ui-tabs-nav { display: none }
}

body.page-node-1748 header, body.page-node-1747 header {
  height:109px;
  border-bottom:1px solid #fc0;
}

body.page-node-type-article #block-seven-content {
  margin-top:1em;
}
